.hero-body {
    position: relative;
}

.hero-body > h1 {
    position: absolute;
    top: 15%;
    right: 50%;
}

.navbar-brand {
    padding: 10px;
}

.tile.is-ancestor {
    height: 15rem;
}

div.tile {
    position: relative;
}

.image {
    position: relative;
    left: 30%;
    width: 256px !important;
    height: 256px !important;
}

.tile.is-ancestor.is-vertical > div.tile {
    height: 10rem
}

.form {
    width: 100%;
}

textarea {
    height: 7rem !important;
}

#project_container {
    height: 30rem;
}

.image.is-128x128 {
    width: 128px !important;
    height: 128px !important;
}