.hero-body {
    position: relative;
}

.hero-body > h1 {
    position: absolute;
    top: 0%;
    right: 50%;
}

.navbar-brand {
    padding: 10px;
}

.tile.is-ancestor {
    height: 15rem;
}

div.tile {
    position: relative;
}

.image {
    position: relative;
    left: 30%;
}

.tile.is-ancestor.is-vertical > div.tile {
    height: 10rem
}

.form {
    width: 100%;
}

textarea {
    height: 7rem !important;
}

#project_container {
    height: 30rem;
}

image.is-128x128 > img {
    width: inherit;
    height: inherit
}

.tile.is-vertical > .tile {
    padding-top: 5px;
    margin-bottom: .5rem;
    max-height: 20.5rem;
}

#expressNoteContainer {
    margin-left: 1.5rem;
}

.tile.box {
    margin-bottom: 0rem;
}

.content.portfolio {
    position: relative;
    right: 69%;
}

#inquirerApp > img {
    height: 9rem;
}

#inquirerApp {
    left: 50%;
    top: 5%;
}

#weatherAppImg {
    height: 20rem;
    width: 40rem;
    top: -6.5%;
}

#weatherAppImg > img {
    height: 100%;
    width: 100%;
}

#expressNoteTaker {
    height: 20rem;
    width: 40rem;
    top: -6.5%;
}

#expressNoteTaker > img {
    height: 100%;
    width: 100%;
}

.hero-foot {
    display: grid;
    justify-content: center;
    padding-top: 10rem;
}

#weatherAppContent {
    max-width: 16rem;
}

#weatherAppContent > p {
    position: relative;
    left: -8%;
}

.content.portfolio > a:hover {
    text-decoration: underline;
}

.content.portfolio > a:last-child {
    margin-left: 1rem;
}

#expressNoteContainer > .content.portfolio {
    max-width: 16rem;
}

#expressContent > p {
    margin-bottom: 0rem;
}

#expressContent {
    display: grid;
}

#expressContent > a {
    text-align: center;
}

#inquirerContent {
    max-width: 30rem;
    left: 4%;
}

#inquirerContent > a {
    position: relative;
    left: 40%;
}

.tile.box:last-child {
    justify-content: center;
}

#twitterCloneContent {
    left: 0%;
    display: grid;
}

#twitterCloneContent > h1 {
    text-align: center;
}

#twitterCloneContent > a {
    justify-self: center;
}