.hero-body {
    position: relative;
}

.hero-body > p {
    position: absolute;
    top: 15%;
    right: 50%;
}

.navbar-brand {
    padding: 5px;
}

.tile.is-ancestor {
    height: 15rem;
}

div.tile {
    position: relative;
}

.image {
    position: relative;
    left: 30%;
    width: 256px !important;
    height: 256px !important;
}